@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
</head>
<body>
    <div>
        <iframe src="@ViewBag.PdfData" width="100%" height="600"></iframe>
    </div>
</body>
</html>